@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --brand-fifth: 221 100% 90%;
    --secondary: 221 100% 80%;
    --brand-third:221 99% 70%;
    --brand-secondary:220 99% 60%;
    --primary: 221 100% 50%;
    --brand-dest-secondary:357 41% 53%;
    --brand-auth-placeholder:221 22% 36%;
    --brand-chats-questions:221 29% 21%;

    --background: 221 32% 23%;
    --foreground: 221 100% 97%;
    --muted: 0 0% 34%;
    --muted-foreground: 220 4% 86%;
    --popover: 221 38% 17%;
    --popover-foreground: 221 100% 97%;
    --card: 221 38% 17%;
    --card-foreground: 221 100% 97%;
    --border: 219 38% 31%;
    --input: 219 38% 31%;
    --primary-foreground: 221 100% 97%;
    --secondary-foreground: 221 100% 97%;
    --accent: 221 32% 23%;
    --accent-foreground: 221 100% 97%;
    --destructive: 0 65% 62%;
    --destructive-foreground: 221 100% 97%;
    --ring: 219 38% 31%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply !scroll-smooth scrollbar-thin scrollbar-thumb-secondary/50 scrollbar-track-transparent;
  }
  body {
    @apply min-h-dvh w-screen selection:bg-secondary bg-background text-foreground;
    margin-right: calc(100vw - 100%);
    overflow-x: hidden;
    font-family:"Inter Variable","sans-serif", "-apple-system", "system-ui", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial",  "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol";
    padding-right: calc(0 - var(--removed-body-scroll-bar-size)) !important;
  }
  a {
    @apply no-underline;
  }
}
